@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(113.3deg, rgba(390, 192, 200, 0.19) 0%, rgba(69, 33, 43, 0.4) 101.01%);

/* Note: backdrop-filter has minimal browser support */
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: linear-gradient(180deg, #FCEB00 0%, #F53636 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(113.3deg, rgba(190, 192, 200, 0.19) 0%, rgba(129, 126, 130, 0.4) 101.01%); 
}

.bg-blue-gradient:hover{
  background: linear-gradient(180deg, #e7de65 0%, #f06161 100%);
  animation-name: background-color;
  animation-duration: 0.35s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
@keyframes background-color{
  0%{ 
    background: linear-gradient(180deg, #dcd89e 0%, #f06161 100%);
    opacity: 0.2;
  }
  50%{ 
    background: linear-gradient(180deg, #e3dc79 0%, #f06161 100%);
    opacity: 0.5;

  }
  100%{ 
    background: linear-gradient(180deg, #eae04e 0%, #f06161 100%);
    opacity: 1;
  }   
}

.bg-black-gradient {
  background: #1E212B 100%;
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}
.button{
  position: relative;
  z-index: 1;
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


.feature-card{
  background: linear-gradient(113.3deg, rgba(190, 192, 200, 0.19) 0%, rgba(40, 33, 43, 0.4) 101.01%);
  box-sizing: border-box;
  position:relative;
  width: 100%;
  height: 90%;
  
}

.feature-card:hover{
  background: var(--black-gradient);

}


.feedback-container .feedback-card:last-child {
  margin-right: 0px;
  
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(100px);
}

.pink__gradient {
  background: #B4ADEA;
  filter: blur(100px);
}
.red__gradient{
  background: #ea7787;
  filter: blur(250px);
  animation-name: floating2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}


.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.floating2 { 
  animation-name: floating2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0,20px);}
  100%   { transform: translate(0, -0px); }   
}
@keyframes floating2 {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0,50px);
    filter: blur(100px); }
  100%   { transform: translate(0, -0px); }   
}

.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-cursor {
  display: inline-block;
  width: 2px;
  height: 42px;
  background-color: white;
  margin-left: 8px;
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}


@media (max-width: 768px) {
  .navbar{
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 3;
    right: 5%;
    top: 5%;
    background: linear-gradient(180deg, rgba(190, 192, 200, 0.19) 0%, rgba(30, 33, 43, 0.4) 100%);
    mix-blend-mode: lighten;
    backdrop-filter: blur(20px);

    /* Note: backdrop-filter has minimal browser support */
  }
}

@media (min-width: 768px) {
  .navbar{
    position: fixed;
    align-items: center;
    width: 100%;
    z-index: 3;
    background: linear-gradient(113.3deg, rgba(0, 0, 0, 0.19) 0%, rgba(30, 33, 43, 0.4) 101.01%);
    mix-blend-mode: lighten;
    backdrop-filter: blur(20px);

    /* Note: backdrop-filter has minimal browser support */
  }
}

#cursor{
  box-sizing: border-box;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  position: absolute;
  background: linear-gradient(180deg, rgba(190, 192, 200, 0.19) 0%, rgba(30, 33, 43, 0.4) 100%);
  border: 1px solid #000000;
}

#profile_icon{
  transition: transform .3s;
}

#profile_icon:hover{
  transform: scale(.9);

}